:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --footer-hover: #5ad1cd;
  --header-color: #660c9d;
  --color-red: #f5311c;
  --color-logo: #ff5400;
  --color-logo1: #06d6a0;
  --color-logo2: #8338ec;
  --footer-text: #444;
  --footer-hover-text: #fff;
  --footer-bg: #f8f9fa;
  --footer-border: #ddd;
}


.pList{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pListItem{
  flex:1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.pListImg{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.pListTitles>h1{
  font-size: 18px;
  color: #444;
  text-transform: capitalize;
}

.pListTitles>h2{
  font-size: 14px;
  font-weight: 300;
}
.pType{
  color: var(--color-logo1);
}
.pCount{
  color: var(--color-logo);
}