.navbarItem {
  height: 50px !important;
  background-color: #003580 !important;
  position: sticky;
  display: flex !important;
  justify-content: center !important;
  /*margin-bottom: 50px;*/
  z-index: 20;
}


.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  color: white;
  font-size: 30px;

}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}
