:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --footer-hover: #5ad1cd;
  --header-color: #660c9d;
  --color-red: #f5311c;
  --color-logo: #ff5400;
  --color-logo1: #06d6a0;
  --color-logo2: #8338ec;
  --footer-text: #444;
  --footer-hover-text: #fff;
  --footer-bg: #f8f9fa;
  --footer-border: #ddd;
}

.FirstLetter {
  color: var(--color-logo2);
}
.logoSpan {
  color: var(--color-logo);
}
.LogoEnd {
  color: var(--color-logo1);
}
.navbarItem {
  height: 50px !important;
  background-color: #003580 !important;
  position: sticky;
  display: flex !important;
  justify-content: center !important;
  /*margin-bottom: 50px;*/
  z-index: 20;
}


.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  color: white;
  font-size: 30px;
  text-decoration: none;

}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}
