:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --footer-hover: #5ad1cd;
  --header-color: #660c9d;
  --color-red: #f5311c;
  --color-logo: #ff5400;
  --color-logo1: #06d6a0;
  --color-logo2: #8338ec;
  --footer-text: #444;
  --footer-hover-text: #fff;
  --footer-bg: #f8f9fa;
  --footer-border: #ddd;
}


.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
  overflow: hidden;
  position: relative;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  min-width: 100%;
  transition: transform 0.5s ease;
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fHead{
  color: var(--color-logo2)
}
.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}

.featured .swiper {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.featured .swiper-button-next,
.featured .swiper-button-prev {
  color: #63e992;
  background-color: white;
  border-radius: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.featured .swiper-button-next::after,
.featured .swiper-button-prev::after {
  font-size: 25px;
}

.featured .swiper-pagination-bullet {
  background-color: #007bff;
  opacity: 0.8;
}

.featured .swiper-pagination-bullet-active {
  background-color: #0056b3;
  opacity: 1;
}
